/anaconda/
/venv/
/venv
exp/
Miniconda3-py39_23.11.0-2-Linux-x86_64.sh
/dump/
temp/
tmp/
/train.*
/dump
.idea/
/.idea/
/.vscode/
__pycache__/
.ipynb_checkpoints/
*.gz
tmp
*.lock
*.b
*.txt
*.json
!requirements*
!base_requirements.txt
*lexicon
.nfs*
*tar.bz2
*.whl
*.swp
